<form class="ui segment form" name="addAssessment" action="/dashboard/add-assessment" method="POST">
    <h3 class="ui header">Add a new assessment</h3>
    <div class="seven fields">
        <div class="ui calendar field four wide">
            <label>Date</label>
            <div class="ui left input icon" id="date">
                <i class="calendar icon"></i>
                <input title="Date" placeholder="dd/mm/yyyy" type="date" name="date" required autocomplete="off">
            </div>
        </div>
        <div class="field two wide">
            <label>Weight</label>
            <input placeholder="kg" type="number" min="0" max="250" step="0.1" name="weight" required>
        </div>
        <div class="field two wide">
            <label>Chest</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="chest" required>
        </div>
        <div class="field two wide">
            <label>Thigh</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="thigh" required>
        </div>
        <div class="field two wide">
            <label>Upper Arm</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="upperArm" required>
        </div>
        <div class="field two wide">
            <label>Waist</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="waist" required>
        </div>
        <div class="field two wide">
            <label>Hips</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="hips" required>
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>
<script>
    $( function()
            {
                const today = new Date();
                let twoMonths = new Date();
                twoMonths = new Date(twoMonths.setMonth(twoMonths.getMonth() - 2));
                const monthsShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                $( "#date" ).calendar
                (
                        {
                            type: 'date',
                            firstDayOfWeek: 1, //starts on Monday
                            minDate: twoMonths,  //no earlier than two months ago
                            maxDate: today, //no later than today
                            monthFirst: false,
                            formatter: {
                                date: function (date) {
                                    const day = date.getDate();
                                    const month = monthsShort[date.getMonth()];
                                    const year = date.getFullYear().toString().substring(2);
                                    return day + ' ' + month + ' ' + year;
                                },
                            },
                        }
                );
            }
    );
</script>