<form class="ui stacked segment form" name="addAssessment" action="/dashboard/add-assessment" method="POST">
    <div class="seven fields">
        <div class="field four wide">
            <label>Date</label>
            <input placeholder="dd/mm/yyyy" type="date" name="date" required>
        </div>
        <div class="field two wide">
            <label>Weight</label>
            <input placeholder="kg" type="number" min="0" max="250" step="0.1" name="weight" required>
        </div>
        <div class="field two wide">
            <label>Chest</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="chest" required>
        </div>
        <div class="field two wide">
            <label>Thigh</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="thigh" required>
        </div>
        <div class="field two wide">
            <label>Upper Arm</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="upperArm" required>
        </div>
        <div class="field two wide">
            <label>Waist</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="waist" required>
        </div>
        <div class="field two wide">
            <label>Hips</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="hips" required>
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>