<form class="ui segment form" name="addAssessment" action="/assessments/add-assessment" method="POST">
    <h3 class="ui header">Add a new assessment</h3>
    <div class="seven fields">
        <div class="ui calendar field four wide" id="date">
            <label>Date</label>
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input placeholder="dd/mm/yyyy" name="date" autocomplete="off">
            </div>
        </div>
        <div class="field two wide">
            <label>Weight</label>
            <input placeholder="kg" type="number" min="0" max="250" step="0.1" name="weight" required>
        </div>
        <div class="field two wide">
            <label>Chest</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="chest" required>
        </div>
        <div class="field two wide">
            <label>Thigh</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="thigh" required>
        </div>
        <div class="field two wide">
            <label>Upper Arm</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="upperArm" required>
        </div>
        <div class="field two wide">
            <label>Waist</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="waist" required>
        </div>
        <div class="field two wide">
            <label>Hips</label>
            <input placeholder="cm" type="number" min="0" max="250" step="0.1" name="hips" required>
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>
<script>
    $(function ()
            {
                let twoMonthsAgo = new Date();
                twoMonthsAgo = new Date(twoMonthsAgo.setMonth(twoMonthsAgo.getMonth() - 2));
                const monthsShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

                $('#date').calendar(
                        {
                            type: 'date',
                            firstDayOfWeek: 1, //starts on Monday
                            minDate: twoMonthsAgo, //no earlier than two months ago
                            maxDate: new Date(), //no later than today
                            monthFirst: false,
                            formatter: {
                                date: function (date, settings) {
                                    let day = date.getDate();
                                    let month = monthsShort[date.getMonth()];
                                    let year = date.getFullYear().toString().substring(2);
                                    return day + ' ' + month + ' ' + year;
                                }
                            }
                        }
                );
            }
    );
</script>