<nav class="ui menu">
    <header class="ui header item"> Play Gym Trainer </header>
    <div class="right menu">
        <a id="admin" class="item" href="/admin"> Admin  </a>
        <a id="index" class="item" href="/index"> Index </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>