<div class="ui bulleted list">
    {{#each member.memberBookings}}
        <tr>
            <td> {{trainerName}} </td>
            <td> {{date}} </td>
            <td> {{time}} </td>
            <td>
                <a href="/member-bookings/delete-booking/{{id}}" class="ui icon button" title="Delete">
                    <i class="icon trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
</div>