<div class="ui grid title">
    <div class="one wide column"><i class="dropdown icon"></i></div>
    <div class="two wide column">{{details.name}}</div>
    <div class="two wide column">({{details.difficulty}})</div>
    <div class="two wide column">{{details.day}}</div>
    <div class="two wide column">{{details.time}}</div>
</div>