<div class="column eight wide">
    <div class="ui segment">
        <div class="ui relaxed divided list">
            <a class="item" href="/assessments">
                <i class="huge calendar icon"></i>
                <div class="content middle aligned">
                    <div class="header">{{latestAssessment}}</div>
                    <div class="description">Latest Assessment</div>
                </div>
            </a>
            <a class="item" href="/goals">
                <i class="huge soccer icon"></i>
                <div class="content middle aligned">
                    <div class="header">{{currentGoal}}</div>
                    <div class="description">Current Goal</div>
                </div>
            </a>
            <a class="item" href="/member-bookings">
                <i class="huge book icon"></i>
                <div class="content middle aligned">
                    <div class="header">{{nextBooking}}</div>
                    <div class="description">Next Booking</div>
                </div>
            </a>
            <a class="item" href="/classes">
                <i class="huge announcement icon"></i>
                <div class="content middle aligned">
                    <div class="header">{{nextClass}}</div>
                    <div class="description">Next Class</div>
                </div>
            </a>
        </div>
    </div>
</div>