<nav class="ui menu">
    <a class="ui header item" href="/dashboard"> {{member.name.full}} </a>
    <div class="right menu">
        <a id="assessments" class="item" href="/assessments"> Assessments  </a>
        <a id="bookings" class="item" href="/member-bookings"> Bookings  </a>
        <a id="classes" class="item" href="/classes"> Classes  </a>
        <a id="goals" class="item" href="/goals"> Goals </a>
        <a id = "settings" class="item" href="/settings">Settings</a>
        <a id="about" class="item" href="/about"> About </a>
        <a class="item" href="/logout">Logout</a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>