<form class="ui segment form" action="/trainer-bookings/add-booking-details/repeat-booking/{{member.id}}" method="POST">
    <h3 class="ui header">Create a new booking</h3>
    <div class="two fields">
        <div class="ui calendar field">
            <label> Date </label>
            <div class="ui left input icon" id="date">
                <i class="calendar icon"></i>
                <input placeholder="dd/mm/yyyy" title="Date" name="date"
                       required autocomplete="off" onchange="noTimeWithoutDate()">
            </div>
        </div>
        <div class="field">
            <label> Time </label>
            <select id="time" class="ui dropdown" title="Time" name="time" required disabled>
                <option selected disabled></option>
                <option value="09:30"> 9:30 </option>
                <option value="11:00"> 11:00 </option>
                <option value="14:00"> 14:00 </option>
                <option value="15:30"> 15:30 </option>
            </select>
        </div>
    </div>
    <button class="ui blue submit button">Submit</button>
</form>

<script>
    $(function ()
            {
                let tomorrow = new Date();
                let oneMonth = new Date();
                tomorrow = new Date(tomorrow.setDate(tomorrow.getDate() + 1));
                oneMonth = new Date(oneMonth.setMonth(oneMonth.getMonth() + 1));
                const monthsShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                $('#date').calendar(
                        {
                            type: 'date',
                            firstDayOfWeek: 1, //starts on Monday
                            minDate: tomorrow,  //no earlier than two weeks from today
                            maxDate: oneMonth, //no later than three months from today
                            monthFirst: false,
                            formatter: {
                                date: function (date) {
                                    let day = date.getDate();
                                    let month = monthsShort[date.getMonth()];
                                    let year = date.getFullYear().toString().substring(2);
                                    return day + ' ' + month + ' ' + year;
                                },
                                cell: function (cell, date) {
                                    function weekend(date) {
                                        return date.getDay() === 0 || date.getDay() === 6;
                                    }
                                    function mayJunAugBankHol(date) {
                                        let firstMonday = date.getDate() <= 7 && date.getDay() === 1;
                                        let mayJunAug = date.getMonth() === 4
                                                || date.getMonth() === 5 || date.getMonth() === 7;
                                        return firstMonday && mayJunAug;
                                    }
                                    function octBankHol(date) {
                                        return date.getDate() > 24 && date.getDay() === 1 && date.getMonth() === 9;
                                    }
                                    function patricksDay(date) {
                                        if (date.getDay() === 0) {
                                            return date.getMonth() === 2 && date.getDate() === 18;
                                        } else if (date.getDay() === 6) {
                                            return date.getMonth() === 2 && date.getDate() === 19;
                                        } else {
                                            return date.getMonth() === 2 && date.getDate() === 17;
                                        }
                                    }
                                    function newYearsDay(date) {
                                        if (date.getDay() === 0) {
                                            return date.getMonth() === 0 && date.getDate() === 2;
                                        } else if (date.getDay() === 6) {
                                            return date.getMonth() === 0 && date.getDate() === 3;
                                        } else {
                                            return date.getMonth() === 0 && date.getDate() === 1;
                                        }
                                    }
                                    function xmasDay(date) {
                                        if (date.getDay() === 0 || date.getDay() === 6) {
                                            return date.getMonth() === 11 && date.getDate() === 27;
                                        } else {
                                            return date.getMonth() === 11 && date.getDate() === 25;
                                        }
                                    }
                                    function stephensDay(date) {
                                        if (date.getDay() === 0 || date.getDay() === 6) {
                                            return date.getMonth() === 11 && date.getDate() === 28;
                                        } else {
                                            return date.getMonth() === 11 && date.getDate() === 26;
                                        }
                                    }
                                    function easter2018(date) {
                                        return new Date(date) === new Date('2018-04-02');
                                    }
                                    function publicHoliday(date) {
                                        return newYearsDay(date) ||
                                                patricksDay(date) ||
                                                easter2018(date) ||
                                                mayJunAugBankHol(date) ||
                                                octBankHol(date) ||
                                                xmasDay(date) ||
                                                stephensDay(date);
                                    }
                                    if (weekend(date) || publicHoliday(date)) {
                                        cell[0].className += ' disabled';
                                    }
                                },
                            }
                        }
                );
            }
    );
    function noTimeWithoutDate(){
        if (document.getElementById("date")) {
            document.getElementById("time").disabled = false;
        }
    }
</script>