<nav class="ui menu">
    <header class="ui header item"> {{trainer.name.full}} </header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/trainer-dashboard"> Dashboard  </a>
        <a id="view-members" class="item" href="/view-members"> Members  </a>
        <a id="trainer-classes" class="item" href="/trainer-classes"> Classes  </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>