<nav class="ui menu">
    <a class="ui header item"  href="/trainer-dashboard"><i class="ui home icon"></i> {{trainer.name.full}} </a>
    <div class="right menu">
        <a id="trainer-bookings" class="item" href="/trainer-bookings"> Bookings </a>
        <a id="trainer-classes" class="item" href="/trainer-classes"> Classes  </a>
        <a id="fitness-programmes" class="item" href="/fitness-programmes"> Fitness Programmes  </a>
        <a id="view-members" class="item" href="/view-members"> Members  </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>