{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
    <p>
        John Madden<br>
        w20077700<br>
        Sep 2017<br>
        <img src="\public\images\wit.png" width="20%">
</p>
</section>