{{> menu id="classes"}}

<div class="ui accordion">
    {{#each classes}}
        {{> class-title}}
        {{> class-content}}
    {{/each}}
</div>
<script>
    $( function () {
        $('.ui.accordion').accordion();
    } );
</script>
