{{> trainer-menu id="fitness-programmes"}}
<section class="ui segment">
    {{> assign-prog}}
    <section class="ui relaxed grid">
    {{> new-prog-session}}
    {{> edit-delete-routine}}
    </section>
</section>