{{> welcome-menu id="home"}}

<section class="ui middle aligned segment">
    <h1 class="center aligned ui header">
        Welcome to Play Gym v2.0
    </h1>
    <div class="ui two column grid">
        {{> sign-up}}
        {{> login}}
    </div>
</section>