{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to Play Gym v2.0
    </h1>
    <p>
        Track your progress today!
    </p>
</section>