{{> trainer-menu id="dashboard"}}
<section class="ui segment">
    <div class="column">
        <a class="item" href="/view-members"> Members  </a>
    </div>
</section>

<section class="ui segment">
    <div class="column">
        <a class="item" href="/trainer-classes"> Classes  </a>
    </div>
</section>