{{> trainer-menu id='trainer-bookings'}}
    <table class="ui collapsing celled table">
        <thead>
        {{> booking-header}}
        </thead>
        <tbody>
        {{> trainer-booking-row}}
        </tbody>
    </table>

